.header {
	padding: 35px 0;
	
	background: url(../img/bg.jpg) center no-repeat;	
	background-size: cover;
	transition: all .5s;
	
	.form-wrap {
		padding: 10px;
			
		background-color: rgba(33,33,33,.15);
		border-radius: 5px;
	}
}


