@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

body { 
	font-family: 'Roboto', sans-serif; 
	font-weight: 400;
	overflow-x: hidden;
}