$v-blue: #079ed4;
$v-blue-2: #0780c3;
$v-blue-dark: rgba(0, 0, 0, 0.46);

$v-grey: rgba(108, 108, 108, 0.3);
$v-grey-light: #fafafa;
$v-grey-light-2: #dee2e9;

$v-snow: #f2f4f7;

$v-grey-dark: #3a4351;
$v-dark-2: #212121;


$v-grey-dark: #616161;
$v-grey-deep: #696969;
$v-grey-deep-2: #bdbdbd;
$v-grey-low: #b6b6b6;
$v-green: #00bfa5;
$v-green-2: #a0e0cc;
$v-red: #ff5a5f;
$v-red-2: #ef9a9a;
$v-rose: #ec2970;
$v-cyan-dark: #778397;
$v-dark: #4d5562;


$bg-header: $v-blue;
$bg-section: $v-grey-light;
$border-section: $v-grey-light-2;
$title-section: $v-cyan-dark;
$title-secondary: #4d5562;
$bg-sidebar: $v-snow;


//.text-light { color: $white; }
.text-dark { color: #4d5562; }
.text-brown { color: #424242; }
.text-grey { color:  #727475; }
.text-darkgrey { color:  #3a4351; }
.text-lightgrey { color: #bdbdbd; } 
.text-red { color:  #ec2970; }
